html,body {
	height: 100%;
}

#wrap {
	min-height: 100%;
	height: auto !important;
	margin: 0 auto;
	margin-bottom:  -60px;
	padding-left: 40px;
	padding-right: 40px;
}

#push,#footer {
	height: 60px;
}

#footer {
	text-align: center;
	background-color: #E8E8E8;
}

.section-header {
    text-align: center;
}

.container {
	width: auto;
	max-width: 680px;
}

.container .credit {
	margin: 20px 0;
}

.maintenance form {
    margin: 0 0 10px;
}

.maintenance-auth h3 {
    padding-bottom: 20px;
}

.maintenance-auth .form-label {
    padding-right: 50px;
}

.maintenance-auth .action-container {
    padding-top: 20px;
    text-align: center;
}

.maintenance-auth .action-container button {
    width: 100px;
}

.maintenance-auth table {
    margin: 0 auto;
}

.image {
    text-align: center;
    position: relative;
}

.image .copy-to-clipboard {
    padding-bottom: 15px;
    width: 100%;
}

.image .copy-to-clipboard {
    display: flex;
}

.image .copy-to-clipboard input {
    flex: 1;
}

.image #copied-notification {
    position: absolute;
    opacity: 0;
    transform: translateY(-1em);
    transition: all .500s;
    left: 0;
}

.image #copied-notification.copied {
    opacity: 1;
    transform: translateY(-1.7em);
}

.image .well {
    height: 82px;
    margin: 5px 5px 5px 5px;
    text-align: left;
    padding: 10px;
}

.upload {
    text-align: center;
}

.upload #uploadForm {
    background-color: #E8E8E8;
    outline: 2px dashed #08c;
    outline-offset: -8px;
    font-size: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 220px;
    padding: 50px 0;
}

.upload #uploadForm.is-dragover {
    background-color: white;
}

.upload #imageFile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.upload #uploadForm label {
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    font-size: .9em;
}

.upload #uploadForm label strong:hover {
    color: #08c;
}

.upload #uploadForm .preview img {
    max-width: 360px;
    padding-bottom: 25px;
}

.upload .modal-body {
    padding-bottom: 0px;
    display: flex;
}

.upload .modal-body textarea {
    flex: 1;
    height: 112px;
}
